<h2>Reset Password</h2>
<div class="container">
  <div class="row">
    <div class="forminput">
          <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()"> <!-- #addProduct="ngForm"-->

            <div class="form-group">
              <label>Current Password</label>
              <input type="password"
              formControlName="pbrand"
              class="form-control"
              [(ngModel)] = "newProduct.brand">
            </div> <!-- brand name form group-->

            <div class="form-group">
                <label>New Password</label>
                <input type="password"
                formControlName="pdescription"
                class="form-control"
                [(ngModel)] = "newProduct.description">
            </div> <!-- product description form group-->

            <!-- @TODO: Convert Text field to multi-select option box for tags -->
            <div class="form-group">
                <label>Confirm New Password</label>
                <input type="password"
                formControlName="ptags"
                class="form-control"
                [(ngModel)] = "newProduct.tags">
            </div> <!-- tags form group-->

              <!--Adding buttons to submit the form or go back to Homepage-->
              <div class="form-group">
                  <button type="submit" class="button btn">Reset Password</button> <!-- [disabled]="!addProduct.form.valid"-->
                  <button class="button btn" routerLink="/home">Return to Homepage</button>
              </div> <!-- button formgroup-->
          </form>
      </div> <!-- forminput -->
  </div> <!-- row-->
</div> <!-- container-->

<div class="container" [hidden]="!submitted">
  You submitted the following new product:
  {{newProduct.productName}} for {{newProduct.price | currency:'INR'}}
</div><!-- container-->
